* {

    flex-direction: column;

}

body {

    flex-direction: column;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100vh;
    text-align: center;

}

.conteiner-topo {

    color: blue;
    position: flex;
    margin: auto;
    width: auto;
    z-index: -2;
    overflow: hidden;

}